body {
    font-family: sans-serif;
    text-align: center;
}

.cuadrado {
    width: 100px;
    height: 100px;
    background-color: mediumseagreen;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.oculto {
    display: none;
}