body {
    font-family: sans-serif;
    text-align: center;
}

.caja {
    width: 150px;
    height: 70px;
    background-color: lightblue;
    border: 2px solid royalblue;
    margin: 10px;
    line-height: 70px;
    transition: all 0.5s ease;
}

.caja-estatica {
    position: static; /* Es el valor por defecto */
    background-color: #f0f0f0;
    border: 2px solid #ccc;
}

#caja-relative {
    position: relative;
    background-color: orange;
    border-color: darkorange;
}