body {
    font-family: sans-serif;
    text-align: center;
}

.caja {
    width: 200px;
    height: 100px;
    background-color: darkgray;
    color: white;
    margin: 20px auto;
    line-height: 100px;
}