.texto-principal {
    color: darkblue;
    font-family: sans-serif;
    font-size: 2rem;
}

.texto-alternativo {
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}